<div class="container">
  <div class="nosto_element" id="productpage-nosto-2"></div>
  <div class="nosto_element" id="productpage-nosto-3"></div>
</div>

{% schema %}
  {
    "name": "Nosto Element",
    "settings": [],
    "presets": [
      {
        "name": "Nosto Element"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}