<div class="page-template__hero">
  {% if page.metafields.custom_fields.hero_image_desktop != blank %}
    {%
      include 'hero' with {
      should_manually_build_urls: true,
      desktop_image: page.metafields.custom_fields["hero_image_desktop"],
      mobile_image: page.metafields.custom_fields["hero_image_mobile"],
      header: page.metafields.custom_fields["hero_header"],
      subheader: page.metafields.custom_fields["hero_subheader"]
      }
    %}
  {% elsif page.metafields.custom_fields.hero_image_desktop == blank %}
    {%
      include 'hero' with {
      should_manually_build_urls: true,
      desktop_image: page.metafields.custom_fields["hero_image_desktop"],
      mobile_image: page.metafields.custom_fields["hero_image_mobile"],
      header: page.metafields.custom_fields["hero_header"],
      subheader: page.metafields.custom_fields["hero_subheader"]
      }
    %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Page Hero",
  "presets": [
    {
      "name": "Page Hero"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}