<div style="display: flex;">
  <div style="display: flex; flex-direction: column; margin-right: 85px">
    <p style="font-weight: bold; font-size: 14px; line-height: 21px;">Primary CTA</p>
    <div style="margin-bottom: 16px;">
      <a class="button button--primary" href="/"><span class="button__content">DEFAULT</span></a>
    </div>
    <div style="margin-bottom: 16px;">
      <button class="button button--primary"><span class="button__content">BUTTON</span>
    </div>
    <div style="margin-bottom: 16px;">
      <button class="button button--primary" disabled=""><span class="button__content">DISABLED</span>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; margin-right: 85px">
    <p style="font-weight: bold; font-size: 14px; line-height: 21px;">Secondary CTA</p>
    <div style="margin-bottom: 16px;">
      <a class="button button--secondary" href="/"><span class="button__content">DEFAULT</span></a>
    </div>
    <div style="margin-bottom: 16px;">
      <button class="button button--secondary"><span class="button__content">BUTTON</span>
    </div>
    <div style="margin-bottom: 16px;">
      <button class="button button--secondary" disabled=""><span class="button__content">DISABLED</span>
    </div>
  </div>
</div>

<div style="background-color: #F7F6F2; padding: 38px">
  <div style="display: grid; grid-template-columns: 1fr">
    <div style="margin-right: 70px">
      <p style="font-weight: bold; font-size: 16px; line-height: 24px;">Stand-Alone Text Link Primary</p>
      <p style="font-weight: 500; font-size: 12px; line-height: 18px; margin-top: 8px">Stand-alone Text link with an arrow.</p>
      <div style="margin: 15px 0px">
        <v-link primary href="https://google.com">Link Default</v-link>
      </div>

    </div>
    <div style="margin-right: 70px">
      <p style="font-weight: bold; font-size: 16px; line-height: 24px;">Stand-Alone Text Link Secondary</p>
      <p style="font-weight: 500; font-size: 12px; line-height: 18px; margin-top: 8px">Stand-alone Text link that is underlined by default.</p>
      <div style="margin: 15px 0px">
        <v-link secondary href="https://google.com">Link Default</v-link>
      </div>
    </div>
    <div style="margin-right: 70px">
      <p style="font-weight: bold; font-size: 16px; line-height: 24px;">Stand-Alone Text Link Tertiary</p>
      <p style="font-weight: 500; font-size: 12px; line-height: 18px; margin-top: 8px">Stand-alone Text link that is not underlined by default.</p>
      <div style="margin: 15px 0px">
        <v-link tertiary href="https://google.com">Link Default</v-link>
      </div>
    </div>
    <div style="margin-right: 70px">
      <p style="font-weight: bold; font-size: 16px; line-height: 24px;">In-Line Text Link (a)</p>
      <p style="font-weight: 500; font-size: 12px; line-height: 18px; margin-top: 8px">Text link used in-line with body copy.</p>
      <div style="margin: 15px 0px">
        <a href="/" class="link link-text-primary-color">Link - Default</a>
      </div>
    </div>

  </div>

</div>
