<div style="display: flex; flex-direction: row; justify-content: space-evenly;">
  <div>
    <p style="margin-bottom: 30px" class="body-lg">Desktop</p>
    <div style="max-width: 382px; margin: 0 auto;">
      <p style="margin-bottom: 8px" class="preheader preheader-block">Our Story</p>
      <p style="margin-bottom: 16px" class="h2">all you need is like</p>
      <p style="margin-bottom: 24px" class="body-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel imperdiet nisl. Sed quis rutrum arcu, nec tristique ligula.</p>
      <a href="/" class="button button--primary"><span class="button__content">DEFAULT</span></a>
    </div>
  </div>

  <div>
    <p style="margin-bottom: 30px" class="body-lg">Mobile</p>
    <div style="max-width: 382px; margin: 0 auto;">
      <p style="margin-bottom: 4px; font-size: 16px; line-height: 16px; letter-spacing: 1px;" class="preheader preheader-block">Our Story</p>
      <p style="margin-bottom: 8px; font-size: 28px; line-height: 28px; letter-spacing: 1px;" class="h2">all you need is like</p>
      <p style="margin-bottom: 16px; font-size: 14px; line-height: 21px;" class="body-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel imperdiet nisl. Sed quis rutrum arcu, nec tristique ligula.</p>
      <a href="/" class="button button--primary"><span class="button__content">DEFAULT</span></a>
    </div>
  </div>
</div>
