<div style="display: flex;">
  <div style="margin-right: 100px;">
    <h3>Utility Icons</h3>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; column-gap: 40px;">
      <p>On the website</p>
    </div>
  </div>
</div>
<br>
