<h1 class="h1-display">
  DISPLAY
</h1>

<h1>
  h1
</h1>

<p class="h1">
  Class .h1
</h1>

<h2>
  h2
</h2>

<p class="h2">
  Class .h2
</h2>

<h3>
  h3
</h3>

<p class="h3">
  Class .h3
</h3>


<h4>
  h4
</h4>

<p class="h4">
  Class .h4
</h4>


<h5>
  h5
</h5>

<p class="h5">
  Class .h5
</h5>

<p class="h6">
  Class .h6
</h6>

<p class="body-sm">body sm</p>

<p class="body-md">body md</p>

<p class="body-lg">body lg</p>

<p>See buttons below</p>

<p class="preheader">PREHEADER</p>
