<div class="booking">
    {%- section 'hero-banner-booking.liquid' -%}
    {% section 'booking-value-props' %}
    {% section 'booking-image-heading' %}
    {% section 'booking-collection-grid' %}
    {% section 'shoppable-instagram' %}
    {% section 'featured-designers' %}
</div>