<h2 class="body-md color-white heading heading--divider">Colors</h2>

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 40px">
  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Primary</p>
    <div style="padding: 16px" class="body-md color-white background-color-primary-700">Primary 700 #E00074</div>
    <div style="padding: 16px" class="body-md color-white background-color-primary-500">Primary 500 #FF309A</div>
    <div style="padding: 16px" class="body-md color-white background-color-primary-400">Primary 400 #FF70BA</div>
    <div style="padding: 16px" class="body-md color-white background-color-primary-200">Primary 200 #FFADD8</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Greyscale</p>
    <div style="padding: 16px" class="body-md color-white background-color-black-900">Greyscale 900 #231A22</div>
    <div style="padding: 16px" class="body-md color-white background-color-black-700">Greyscale 700 #494045</div>
    <div style="padding: 16px" class="body-md color-white background-color-black-600">Greyscale 600 #787171</div>
    <div style="padding: 16px" class="body-md color-white background-color-black-500">Greyscale 500 #AFAAA5</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Greyscale 2</p>
    <div style="padding: 16px" class="body-md color-white background-color-black-400">Greyscale 400 #D2CEC6</div>
    <div style="padding: 16px" class="body-md color-white background-color-black-300">Greyscale 300 #E8E4DA</div>
    <div style="padding: 16px" class="body-md color-white background-color-black-200">Greyscale 200 #EFEDE6</div>
    <div style="padding: 16px" class="body-md color-white background-color-black-100">Greyscale 100 #F7F6F2</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Accent 1</p>
    <div style="padding: 16px" class="body-md color-white background-color-accent-1-700">Accent 1 700 #FF424B</div>
    <div style="padding: 16px" class="body-md color-white background-color-accent-1-500">Accent 1 500 #FF7077</div>
    <div style="padding: 16px" class="body-md color-white background-color-accent-1-200">Accent 1 200 #FF999E</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Accent 2</p>
    <div style="padding: 16px" class="body-md color-white background-color-accent-2-700">Accent 2 700 #EB1700</div>
    <div style="padding: 16px" class="body-md color-white background-color-accent-2-500">Accent 2 500 #FF513D</div>
    <div style="padding: 16px" class="body-md color-white background-color-accent-2-200">Accent 2 200 #FF6F5E</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Accent 3</p>
    <div style="padding: 16px" class="body-md color-white background-color-accent-3-700">Accent 3 700 #A69469</div>
    <div style="padding: 16px" class="body-md color-white background-color-accent-3-500">Accent 3 500 #BBAD8B</div>
    <div style="padding: 16px" class="body-md color-white background-color-accent-3-200">Accent 3 200 #D2C9B2</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Utility</p>
    <div style="padding: 16px" class="body-md color-white background-color-util-error">Error #D71F28</div>
    <div style="padding: 16px" class="body-md color-white background-color-util-success">Success #389933</div>
    <div style="padding: 16px" class="background-color-util-notification">Notification #E0F5E0</div>
    <div style="padding: 16px" class="border-color-util-focus">Focus #FF309A</div>
    <div style="padding: 16px" class="body-md color-white background-color-util-sale">Sale #EB1700</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Text</p>
    <div class="text-dark" style="padding: 16px;">Dark #231A22</div>
    <div class="text-accent" style="padding: 16px;">Primary 700 #E00074</div>
    <div class="text-white" style="padding: 16px; background-color: #231A22; border: 1px solid #DDDDDE;">Light #FFFFFF</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Dividers</p>
    <div style="padding: 16px; border: 1px solid #787171;" class="body-md">Dark #787171</div>
    <div style="padding: 16px; border: 1px solid #E8E4DA;" class="body-md">Light #E8E4DA</div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Borders</p>
    <div style="padding: 16px" class="body-md border-1px-black">Black 900 - 1px <span class="body-sm link--tertiary">class="border-1px-black"</span></div>
    <div style="padding: 16px" class="body-md border-2px-black">Black 900 - 2px <span class="body-sm link--tertiary">class="border-2px-black"</span></div>
    <div style="padding: 16px" class="body-md border-1px-black-white-background">Black 900 - White BG 1px <span class="body-sm link--tertiary">class="border-1px-black-white-background"</span></div>
    <div style="padding: 16px" class="body-md border-1px-black-400">Black 400 - 1px <span class="body-sm link--tertiary">class="border-1px-black-400"</span></div>
  </div>

  <div>
    <p class="body-lg" style="margin-bottom: 20px;">Borders 2</p>
    <div style="padding: 16px" class="body-md border-1px-primary-500">Primary 500 - 1px <span class="body-sm link--tertiary">class="border-1px-primary-500"</span></div>
    <div style="padding: 16px" class="body-md border-2px-primary-500">Primary 500 - 2px <span class="body-sm link--tertiary">class="border-2px-primary-500"</span></div>
  </div>

  <div style="background-color: #231A22; margin-bottom: 20px; padding: 20px;">
    <p class="body-lg text-white">Borders 3</p>
    <div style="padding: 16px;" class="body-md color-white border-1px-white">White - 1px <span class="body-sm link--tertiary">class="border-1px-white"</span></div>
    <div style="padding: 16px;" class="body-md color-white border-2px-white">White - 2px <span class="body-sm link--tertiary">class="border-2px-white"</span></div>
  </div>
</div>
